<div class="container" style="margin: 100px; position: fixed;">
  <a href="/home">Back to Home</a>
  <div class="d-flex justify-content-center h-50">
    <div>
      <div class="d-flex justify-content-center">
        <div style="margin-top: 10px;">
          <h3>Inicia Sesión</h3>
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form #loginForm="ngForm" method="post">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text" style="padding: 100%;"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" name="username" placeholder="Correo" #usernameInput="ngModel"
              [(ngModel)]="user.email" required>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text" style="padding: 100%;"><i class="fas fa-user"></i></span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Contraseña"
              #passwordInput="ngModel" [(ngModel)]="user.password" required>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button (click)='onLogin()' type="submit" [disabled]="loginForm.invalid || showLoading" name="button"
              class="btn login_btn">
              <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
              <span *ngIf="showLoading"> Iniciando...</span>
              <span *ngIf="!showLoading">Iniciar sesion</span>
            </button>
          </div>
        </form>
      </div>
      <div class="mt-4">
        <div class="d-flex justify-content-center">
          <p>No tienes una cuenta? Crea una</p><a routerLink="/register" class="ml-2" style="margin-left: 5px;">
            aquí</a>
        </div>
      </div>
    </div>
  </div>
</div>