<app-menu></app-menu>
<div style="padding: 2%">
        <div class="col-md-2" *ngIf="hasper">
                <button type="button" (click)="agregar()" class="btn btn-primary btn-sm"
                        id="id_btn_filtrar" style="width: 150px">Agregar</button>
        </div>
    <div class="col-md-23" style="margin-top: 3%">
        <div class="row">
                <div class="col-md-12">
                    <table id="id_table" class="table table-striped table-bordered">
                        <thead>
                                <tr>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Nacionalidad</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let item of allAutor">
                                        <td>{{ item.nombres }}</td>
                                        <td>{{ item.apellidos }}</td>
                                        <td>{{ item.nacionalidad }}</td>
                                </tr>
                        </tbody>
                </table>
                </div>
        </div>
</div>
</div>